body {
  font-family: 'Karla', sans-serif;
  margin: 0px;
  color: #5F5F5F;
  font-size: 16pt;
  text-align: left; }

a {
  color: #CC6699;
  text-decoration: none; }

header {
  position: relative; }

#title {
  position: absolute;
  color: #CC6699;
  cursor: pointer;
  float: left;
  width: 100%;
  top: 20%;
  text-align: center; }
  @media screen and (max-width: 768px) {
    #title {
      top: 10%;
      font-size: 16px;
      position: relative;
      cursor: none; } }
  @media screen and (max-width: 480px) {
    #title {
      top: 2%; }
      #title #subheader {
        display: none; } }
  #title #titlecontainer {
    margin: 0 auto;
    position: relative;
    text-align: center; }
    #title #titlecontainer .loving {
      font-family: 'Leckerli One', cursive;
      font-size: 4.5em; }
    #title #titlecontainer .smallcaps {
      position: relative;
      text-transform: uppercase;
      letter-spacing: 0.5em;
      font-size: 0.7em;
      font-weight: 700;
      top: -20px;
      left: -20px; }
    #title #titlecontainer:hover {
      color: #FFFFFF; }
      @media screen and (max-width: 768px) {
        #title #titlecontainer:hover {
          color: #CC6699; } }
    #title #titlecontainer #play {
      font-size: 3em; }
      @media screen and (max-width: 768px) {
        #title #titlecontainer #play {
          display: none; } }

.full-vid-wrapper {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 700px; }
  .full-vid-wrapper #exit-vid {
    position: absolute;
    top: 0px;
    right: 0px;
    color: #CC6699;
    z-index: 999;
    padding: 5px;
    cursor: pointer; }

@media screen and (max-width: 768px) {
  #video {
    display: none; } }

#video-mobile {
  display: none; }
  @media screen and (max-width: 768px) {
    #video-mobile {
      display: inline-block; } }

.panel {
  display: block;
  padding: 30px;
  max-width: 500px;
  margin: 0 auto;
  font-size: 14pt; }
  .panel .textbox {
    text-align: left; }
  .panel h1 {
    color: #CC6699;
    text-align: center; }

#google-form .ss-q-title {
  font-family: 'Karla', sans-serif;
  font-size: 15px;
  margin: 25px 0 0 0; }
#google-form .ss-q-item-label {
  font-family: 'Karla', sans-serif;
  font-size: 15px; }
#google-form .ss-q-help {
  ffont-family: 'Karla', sans-serif;
  font-size: 12px;
  margin: 10px 0;
  color: #A9A9A9; }
#google-form .ss-q-secondary-text {
  font-family: 'Karla', sans-serif;
  font-size: 13px; }
#google-form .required-message {
  font-family: 'Karla', sans-serif;
  font-size: 10px; }
#google-form #lld-submit-page {
  display: none;
  height: 302px;
  text-align: center;
  font-family: 'Karla', sans-serif;
  font-size: 20px;
  padding-top: 14%;
  line-height: 30px;
  font-weight: bold;
  color: #CC6699; }
#google-form #entry_505003757, #google-form #entry_1452629804, #google-form #entry_141792637, #google-form #entry_591728580 {
  width: 100%; }
#google-form .ss-choice-item {
  font-size: 14px;
  list-style-type: none;
  margin: 10px 0; }
#google-form #ss-submit {
  margin: 10px 0; }
