// variables
$magenta: #CC6699;
$body-font: #000000;
$white: #FFFFFF;

body {
	font-family: 'Karla', sans-serif;
	margin: 0px;
	color: $body-font;
	font-size: 16pt;
	text-align: center;
}

a {
	color: $magenta;
	text-decoration: none;
}

#title {
	position: absolute;
	top: 300px;
	left: 40%;
	color: $magenta;
	cursor: pointer;
	.loving {
		font-family: 'Leckerli One', cursive;
		font-size: 4.5em;
	}
	.smallcaps {
		position: relative;
		text-transform: uppercase;
		letter-spacing: 0.5em;
		font-size: 0.7em;
		font-weight: 700;
		top: -20px;
		left: -20px;
	}
	&:hover {
		color: $white;
	}
}

#play {
	font-size: 3em;
}

#description {
	display: none;
}

// #about {
// 	position: fixed;
// 	cursor: pointer;
// 	color: $magenta;
// 	right: 0px;
// 	padding: 20px;
// 	z-index: 100;
// }

.full-vid-wrapper {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 700px;
	#exit-vid {
		position: absolute;
		top: 0px;
		right: 0px;
		color: $magenta;
		z-index: 999;
	}
}



.signup {
	font-size: 1.3em;
	padding-top: 20px;
	p {
		margin: 10px;
	}
}

input {
	border: none;
	border-bottom: 1px solid $magenta;
	line-height: 2em;
	color: $magenta;
	&:focus {
		outline: none;
	}
}

.tagline {
	display: block;
	padding: 30px;
	width: 500px;
	margin: 0 auto;
	font-size: 14pt;
}