// variables
$magenta: #CC6699;
$body-font: #5F5F5F;
$p-font: 'Karla', sans-serif;
$white: #FFFFFF;
$break-small: 480px;
$break-large: 768px;


body {
	font-family: 'Karla', sans-serif;
	margin: 0px;
	color: $body-font;
	font-size: 16pt;
	text-align: left;
}

a {
	color: $magenta;
	text-decoration: none;
}

header{
	position:relative;

}

#title {
	position: absolute;
	color: $magenta;
	cursor: pointer;
	float: left;
	width:100%;
	top:20%;
	text-align: center;
	@media screen and (max-width: $break-large) {
		top:10%;
		font-size:16px;
		position: relative;	
		cursor: none;
  	}
  	@media screen and (max-width: $break-small) {
		top:2%;
		#subheader{
			display:none;
		}
  	}
  	#titlecontainer{
  		margin: 0 auto;
		position: relative;
		text-align: center;
  		.loving {
		font-family: 'Leckerli One', cursive;
		font-size: 4.5em;
		}
		.smallcaps {
			position: relative;
			text-transform: uppercase;
			letter-spacing: 0.5em;
			font-size: 0.7em;
			font-weight: 700;
			top: -20px;
			left: -20px;
		}
		&:hover {
			color: $white;
			@media screen and (max-width: $break-large) {
				color: $magenta; 
	  		}
		}
		#play{
			font-size: 3em;
			@media screen and (max-width: $break-large) {
				display:none;
	  		}

		}
  	}
}


.full-vid-wrapper {
	display: none;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 700px;
	#exit-vid {
		position: absolute;
		top: 0px;
		right: 0px;
		color: $magenta;
		z-index: 999;
		padding: 5px;
		cursor: pointer;
	}
}

#video{
	@media screen and (max-width: $break-large) {
				display:none;
	}
}

#video-mobile{
	display:none;
	@media screen and (max-width: $break-large) {
				display:inline-block;
	}

}

.panel {
	display: block;
	padding: 30px;
	max-width: 500px;
	margin: 0 auto;
	font-size: 14pt;
	.textbox{
	text-align: left;
	}
	h1{
		color: $magenta;
		text-align: center;
	}
}

#google-form{
	.ss-q-title{
            font-family:$p-font;
            font-size:15px;
            margin: 25px 0 0 0;
        }
     
    .ss-q-item-label{
        font-family:$p-font;
        font-size:15px;
    }
     
    .ss-q-help {
        ffont-family: $p-font;
		font-size: 12px;
		margin: 10px 0;
		color: #A9A9A9;
    }
     
    .ss-q-secondary-text {
        font-family:$p-font;
        font-size:13px;
    }
     
    .required-message{ 
        font-family: $p-font;
        font-size:10px;
    }

    #lld-submit-page{
        display: none;
        height: 302px;
        text-align: center;
        font-family: $p-font;
        font-size: 20px;
        padding-top: 14%;
        line-height: 30px;
        font-weight: bold;
        color: $magenta;
    
    }

    #entry_505003757, 
    #entry_1452629804,
    #entry_141792637, 
    #entry_591728580 {
        width: 100%;
    }

	.ss-choice-item {
		font-size:14px;
		list-style-type: none;
		margin: 10px 0;
	}

	#ss-submit{
		margin: 10px 0;
	} 
}
